main.container {
    height: calc(100vh - 8em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer {
    height: 10%;
    display: block;
}

.return-icon {
    height: 100%;
    width: auto;
    margin: 0.5em;
}

.card {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    padding: 10% 0;
}

.card__item, .card__quest {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__swap-btn {
    width: 10%;
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.card__img {
    height: auto;
    max-height: 100%;
    margin: 1em 0;
}

.card__item-name {
    text-transform: capitalize;
    text-align: center;

    font-size: 24px;
    font-family: "Russo one", sans-serif;
}

.card__quest {
    text-align: center;
    font-size: 32px;
    overflow-y: auto;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.timer__cell {
    width: 2.5%;
    height: 75%;
    border: 1px solid #6e6e6e;
    border-radius: 8px;
    background-color: #F58420;
    transition: background-color 0s;
}

.timer__cell.empty {
    background-color: transparent;
    transition: background-color 2s ease-out;
}