body {
    position: fixed;
}

main.container {
    height: calc(100vh - 8em); /* фолбэк для браузеров, которые не поддерживают пользовательские свойства */
    height: calc(var(--vh, 1vh) * 100 - 8em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
}

#return-icon {
    height: 100%;
    max-height: 4em;
    width: 100%;
    max-width: 4em;
    min-height: 2em;
    background: url("../img/return-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

h2 {
    font-size: 3em;
}

 h3 {
    text-align: left;
    font-size: 1.5em;
}

.mode-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.game-mode {
    width: 10em;
    min-width: 10em;

    position: relative;

    list-style-type: none;

    padding: 2em 1.5em;
    border: 1px solid #acacac;
    border-radius: 1em;
    margin: 1em;

    -webkit-transition: -webkit-box-shadow ease-out 0.1s;

    transition: -webkit-box-shadow ease-out 0.1s;

    -o-transition: box-shadow ease-out 0.1s;

    transition: box-shadow ease-out 0.1s;

    transition: box-shadow ease-out 0.1s, -webkit-box-shadow ease-out 0.1s;
    cursor: pointer;
}

.game-mode h5 {
    font-size: 1em;
}

.game-mode:hover {
    -webkit-box-shadow: inset 0 0 0 0.3em #f5832088;
            box-shadow: inset 0 0 0 0.3em #f5832088;
}

.game-mode:focus {
    -webkit-box-shadow: inset 0 0 0 0.5em #f5832088;
            box-shadow: inset 0 0 0 0.5em #f5832088;
}

.game-mode.selected, .game-mode:active {
    -webkit-box-shadow: inset 0 0 0 0.5em #F58420;
            box-shadow: inset 0 0 0 0.5em #F58420;
}

input[type="radio"] {
    display: none;
}

.form-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.25em 0;
}

.form-radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: 0.5em;
}

.form-radio .marker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	width: 18px;
	height: 18px;
    -webkit-box-shadow: 0 0 0 2px #F58420;
            box-shadow: 0 0 0 2px #F58420;
    border-radius: 50%;
}

.form-radio .marker .inner {
	width: 0;
    height: 0;
    background-color: #FFB730;
    border-radius: 50%;

    -webkit-transition: width ease 0.25s,
                height ease 0.25s;

    -o-transition: width ease 0.25s,
                height ease 0.25s;

    transition: width ease 0.25s,
                height ease 0.25s;
}

.marker:focus .inner {
    width: 10px;
    height: 10px;
    opacity: 0.5;
}

.form-radio input[type=radio]:checked + .marker .inner {
    width: 14px;
    height: 14px;
    opacity: 1;
}

.settings-container {
    height: 12em;
    height: 10em;
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.settings {
    display: none;
}

.settings.active {
    display: block;
}

.settings.endless-orange-settings.active {
    display: -ms-grid;
    display: grid;
    width: 100%;
}

.endless-orange-settings, .third-wheel-settings {
        grid-template-areas: "t q"
                         "r c";
    -ms-grid-rows: 1fr 0.5em 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 0.5em 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}

.endless-orange-settings .time {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: t;
}

.endless-orange-settings .number-of-rounds {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: r;
}

.endless-orange-settings .question-types {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: q;
}

.endless-orange-settings .communication-types {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: c;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: calc(100% - 4em);
    height: 0.75em;
    border-radius: 5px;
    background: #FFDA7D;
    outline: none;
    padding: 0;
    margin: 1em 2em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: none;
    background: #FFB730;
    cursor: pointer;

    -webkit-transition: background linear 0.2s;

    transition: background linear 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #F58420;
}

input[type="range"]:focus::-webkit-slider-thumb {
    -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 5px #F58420;
            box-shadow: 0 0 0 2px #fff, 0 0 0 5px #F58420;
}

input[type="range"]:active::-webkit-slider-thumb {
    background: #F58420;
}

.toggle-switch-wrapper {
    width: 100%;
    height: calc(2em + 2px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 0.5em 0;
}

.toggle-switch-wrapper span {
    margin: 0 1em;
    font-family: "Russo one", sans-serif;;
    color: #3c3c3c;
}

.toggle-switch-wrapper img {
    height: 100%;
    margin: 0 1em
}

.toggle-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 4em;
    height: 2em;
    border-radius: 4em;
    border: 2px solid #FFDA7D;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    -webkit-transition: border linear 0.2s;

    -o-transition: border linear 0.2s;

    transition: border linear 0.2s;
}

.toggle-switch:focus {
    border-color: #F58420;
}

.toggle-switch:active {
    border-color: #F58420;
}

.toggle-switch.triple {
    width: 6em;
}

.toggler-label {
    z-index: 1000;
    cursor: pointer;
}

.toggle-switch.double .toggler-label {
    width: 50%;
    height: 100%;
    display: none;
}

.toggle-switch.triple .toggler-label {
    width: 33.333%;
    height: 100%;
}

.toggle-switch.triple .toggler-label img {
    margin: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 50%;
}

.toggle-switch.triple .toggler-label.active svg {
    color: #fff;
}

.toggler {
    position: absolute;
    width: calc(2em - 4px);
    height: calc(2em - 4px);
    border-radius: 50%;
    background-color: #FFB730;
    -webkit-transition: background-color linear 0.2s,
                -webkit-transform ease-out 0.2s;
    transition: background-color linear 0.2s,
                -webkit-transform ease-out 0.2s;
    -o-transition: transform ease-out 0.2s,
                background-color linear 0.2s;
    transition: transform ease-out 0.2s,
                background-color linear 0.2s;
    transition: transform ease-out 0.2s,
                background-color linear 0.2s,
                -webkit-transform ease-out 0.2s;
}

.toggle-switch:hover .toggler,
.toggle-switch:active .toggler {
    background-color: #F58420;
}

.toggle-switch.double .toggler {
    top: 2px;
    left: 2px;
}

.toggle-switch.triple .toggler {
    top: 2px;
    left: calc(2px + 2em);
}

.toggle-switch .toggler.left {
    -webkit-transform: translateX(-2em);
        -ms-transform: translateX(-2em);
            transform: translateX(-2em);
}

.toggle-switch.double .toggler.left,
.toggle-switch .toggler.middle {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.toggle-switch .toggler.right {
    -webkit-transform: translateX(2em);
        -ms-transform: translateX(2em);
            transform: translateX(2em)
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background-size: cover;
    top: -0.2em;
    right: -1em;
}

span#tooltip {
    z-index: 9999;
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	background-color: #3c3c3c;
	padding: 5px 10px 5px 10px;
	color: white;
	opacity: 0.8;
    border-radius: 5px;
}

@media(max-height: 768px), (max-width: 768px) {
    main.container {
        height: calc(100vh - 6em); /* фолбэк для браузеров, которые не поддерживают пользовательские свойства */
        height: calc(var(--vh, 1vh) * 100 - 8em);
        padding: 3em 20%;
    }

    .game-mode {
        width: 8em;
        min-width: 8em;
    }
}

@media(max-width: 768px) {
    main.container {
        padding: 3em 10%;
    }
}

@media(max-width: 600px) {
    main.container {
        padding: 3em 5%;
    }
}

@media(max-width: 500px) {
    body {
        position: unset;
    }

    main.container {
        height: fit-content;
    }

    .settings-container {
        height: fit-content;
    }

    .mode-list {
        overflow-x: auto;
        justify-content: unset;
    }

    .select-mode {
        position: relative;
    }

    .game-mode {
        display: inline-block;
    }

    .game-mode:first-child {
        margin-left: 3em;
    }

    .game-mode:last-child::after {
        content: "";
        display: block;
        position: absolute;
        right: -3rem;
        width: 3rem;
        height: 1px;
      }

    .endless-orange-settings {
        grid-template-areas: "t t" "r r" "q q" "c c";
    }
}