{% extends "base.html" %}
{% block content %}

<main>
    <div>
        <form  method=post enctype=multipart/form-data>
            <h1>Добавить картинку</h1>
            {{ Iform.hidden_tag() }}
            {{ Iform.csrf_token }}
            <div class="form-item">
                {{ Iform.name.label }}
                {{ Iform.name() }}
            </div>
            <div class="form-item">
                {{ Iform.image.label }}
                {{ Iform.image() }}
            </div>
            <div class="form-item">
                {{ Iform.submit(type="submit", class="button") }}
            </div>
        </form>
    </div>
    <div>
        <form action="" method="post">
            <h1>Добавить вопрос</h1>
            {{ Qform.hidden_tag() }}
            {{ Qform.csrf_token }}
            <div class="form-item">
                {{ Qform.quest.label }}
                {{ Qform.quest() }}
            </div>
            <div class="form-item">
                {{ Qform.image.label }}
                {{ Qform.image() }}
            </div>
            <div class="form-item">
                {{ Qform.erudition.label }}
                {{ Qform.erudition() }}
            </div>
            <div class="form-item">
                {{ Qform.leader.label }}
                {{ Qform.leader() }}
            </div>
            <div class="form-item">
                {{ Qform.players.label }}
                {{ Qform.players() }}
            </div>
            <div class="form-item">
                {{ Qform.submit(type="submit", class="button") }}
            </div>
        </form>
    </div>
</main>
{% endblock %}