{% extends "base.html" %}

{% set jquery = True %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
{% endblock styles %}

{% block content %}
    <h1>Бесконечный апельсин - игра для умных</h1>
    <div class="menu">
        <div class="left">
            <div class="rules" style="display: none;">
                <p>Игрок с устройством берет на себя роль ведущего и выбирает случайный предмет и вопрос к нему, нажав на кнопку "Играть". После чего отвечает на вопрос о предмете так чтобы, другие игроки поняли, о каком предмете идёт речь. Первый, кто угадает предмет, получает балл. Тот, кто набрал больше всего баллов, побеждает.</p>
                <button class="transparent-button bordered" id="rules__go-back">Назад<span></span></button>                
            </div>
            <div class="settings" style="display: none;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt ab distinctio maxime officia provident ducimus fugit eveniet aut asperiores est beatae saepe, eius sequi sed. Autem totam dolore natus, voluptatibus harum porro, reprehenderit voluptates commodi cupiditate voluptatem repudiandae eius, numquam quia. Ab quae sequi tempora quod eius.</p>
                <button class="transparent-button bordered" id="settings__go-back">Назад<span></span></button>
            </div>
            <img class="orange-logo" src="{{ url_for('static', filename='img/orange.svg') }}" alt="апельсин">
        </div>
        <div class="menu__buttons">
            <a class="transparent-button animation-trigger" id="rules-button">Правила<span></span></a>
            <a class="transparent-button animation-trigger" id="settings-button">Настройки<span></span></a>
            <a class="transparent-button" id="play-button" href="/play">Играть<span></span></a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/main_page.js') }}"></script>
    <script src="{{ url_for('static', filename='js/remove-address-bar.js') }}"></script>
{% endblock scripts %}