{% extends "base.html" %}

{% set jquery = True %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings_page.css') }}">
{% endblock styles %}

{% block content %}
    <h2>Настройка</h2>
    <div class="select-mode">
        <h3>Выберите режим игры:</h3>
        <ul class="mode-list">
            <li class="game-mode third-wheel-mode" tabindex="1">
                <div class="picture">
                    <img src="{{ url_for('static', filename='img/game-modes/third-wheel.svg') }}" alt="">
                </div>
                <h5 class="mode-name">Третий лишний</h5>
            </li>
            <li class="game-mode endless-orange-mode" tabindex="1">
                <div class="picture">
                    <img src="{{ url_for('static', filename='img/game-modes/endless-orange.svg') }}" alt="">
                </div>
                <h5 class="mode-name">Бесконечный апельсин</h5>
            </li>
        </ul>
    </div>
    <div class="settings-container">
        <form action method="post" class="settings third-wheel-settings">
            <input type="hidden" name="mode" value="third-wheel">
            {{ third_wheel_settings.hidden_tag() }}
            <div class="level">
                <h3>Выберите сложность:</h3>
                <div class="form-radio"><input type="radio" name="level" id="level1" value="1" checked><label for="level1" class="marker" tabindex="1"><div class="inner"></div></label><label for="level1">1 уровень (2 карточки)</label></div>
                <div class="form-radio"><input type="radio" name="level" id="level2" value="2"><label for="level2" class="marker" tabindex="1"><div class="inner"></div></label><label for="level2">2 уровень (3 карточки)</label></div>
                <div class="form-radio"><input type="radio" name="level" id="level3" value="3"><label for="level3" class="marker" tabindex="1"><div class="inner"></div></label><label for="level3">3 уровень (4 карточки)</label></div>
            </div>
        </form>
        <form action method="post" class="settings endless-orange-settings">
            <input type="hidden" name="mode" value="endless-orange">
            {{ endless_orange_settings.hidden_tag() }}
            <div class="time">
                <label for="time-input">Время раунда: <span id="time-value"></span></label>
                <input type="range" min="1" max="5" value="2" id="time-input" name="time">
            </div>
            <div class="number-of-rounds">
                <label for="rounds-input">Количество кругов: <span id="rounds-value"></span></label>
                <input type="range" min="1" max="20" value="10" id="rounds-input" name="rounds">
            </div>
            <div class="question-types">
                <p>Тип вопросов: <span id="question-type-value"></span></p>
                <div class="toggle-switch-wrapper">
                    <span>РТВ</span>
                    <div class="toggle-switch triple" tabindex="0">
                        <label for="dci-radio" class="toggler-label">
                            <input type="radio" data-position="left" id="dci-radio" value="dci" name="question_type" class="toggle-switch-radio" data-name="РТВ" data-fullname="Развитие творческого воображения" checked>
                        </label>
                        <label for="both-dci-tips-radio" class="toggler-label">
                            <input type="radio" data-position="middle" id="both-dci-tips-radio" value="both" name="question_type" class="toggle-switch-radio" data-name="РТВ+ТРИЗ" data-fullname="Развитие творческого воображения + теория решения изобретательских задач">
                        </label>
                        <label for="tips-radio" class="toggler-label">
                            <input type="radio" data-position="right" id="tips-radio" value="tips" name="question_type" class="toggle-switch-radio" data-name="ТРИЗ" data-fullname="Теория решения изобретательских задач">
                        </label>
                        <div class="toggler middle"></div>
                    </div>
                    <span>ТРИЗ</span>
                </div>
            </div>
            <div class="communication-types">
                <p>Тип коммуникации: <span id="communication-type-value"></span></p>
                <div class="toggle-switch-wrapper">
                    <img src="{{ url_for('static', filename='img/communication-types/person.svg') }}">
                    <div class="toggle-switch triple" tabindex="0">
                        <label for="host-radio" class="toggler-label">
                            <img src="{{ url_for('static', filename='img/communication-types/arrow.svg') }}">
                            <input type="radio" data-position="left" id="host-radio" value="host" name="communication_type" class="toggle-switch-radio" data-name="туда">
                        </label>
                        <label for="both-host-team-radio" class="toggler-label">
                            <img src="{{ url_for('static', filename='img/communication-types/double-arrow.svg') }}">
                            <input type="radio" data-position="middle" id="both-host-team-radio" value="both" name="communication_type" class="toggle-switch-radio" data-name="туда-сюда" checked>
                        </label>
                        <label for="team-radio" class="toggler-label">
                            <img src="{{ url_for('static', filename='img/communication-types/arrow.svg') }}" style="transform: rotate(180deg);">
                            <input type="radio" data-position="right" id="team-radio" value="team" name="communication_type" class="toggle-switch-radio" data-name="сюда">
                        </label>
                        <div class="toggler middle"></div>
                    </div>
                    <img src="{{ url_for('static', filename='img/communication-types/team.svg') }}">
                </div>
            </div>
        </form>
    </div>
    <div class="buttons">
        <a class="transparent-button bordered" id="play-button">Играть<span></span></a>
    </div>

    <span id="tooltip"></span>
{% endblock content %}

{% block additional_styles %}
    <style>
        [data-tooltip]:before {
            background-image: url("{{ url_for('static', filename='img/question-mark.svg') }}");
        }
    </style>
{% endblock additional_styles %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/settings_page.js') }}"></script>
    <script src="{{ url_for('static', filename='js/remove-address-bar.js') }}"></script>
    <script>
        // Восстановление параметров из куки
        $(".game-mode.{{ cookies.get('mode', 'third-wheel') }}-mode").click(); // Режим игры
        $("#level{{ cookies.get('level', 1) }}").click(); // Уровень сложности
        $("#time-input").val({{ cookies.get('time', 2) | int }}); // Время
        $("#rounds-input").val({{ cookies.get('rounds', 10) | int }}); // Количество раундов
        $("#{{ cookies.get('question_type', 'dci') }}-radio").prop("checked", true).change(); // Тип вопросов
        $("#{{ cookies.get('communication_type', 'both') }}-radio").prop("checked", true).change(); // Тип коммуникации
        updateTimeValue();
        updateRoundsValue();
    </script>
{% endblock scripts %}
