{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
{% endblock %}

{% block content %}
    <header class="header">
        <a class="left transparent-button bordered back-button" href="/">Назад</a>
    </header>
    <div class="rules">
        <h2>Наше наставление</h2>
        <p>Мы очень рады, что вы решили сыграть в "Бесконечный апельсин". Основная задумка этой игры заключалась в том,
            что игроки будут придумывать правила для игры друг с другом, чтобы воспользоваться возможностями ТРИЗ по
            максимуму. Далее придвидем правила, которые составила наша команда.</p>
        <h2>Правила для режима "Бесконечный апельсин"</h2>
        <p>Игрок с устройством берет на себя роль ведущего и выбирает случайный предмет и вопрос к нему, нажав на
            кнопку "Играть". После чего отвечает на вопрос о предмете так чтобы, другие игроки поняли, о каком предмете
            идёт речь. Первый, кто угадает предмет, выигрывает раунд и получает балл. Если есть возможность, передайте
            устройство следующему игроку. Тот, кто набрал больше всего баллов, побеждает.</p>
        <h2>Правила для режима "Третий лишний"</h2>
        <p>Игрок с устройством берет на себя роль ведущего и выбирает предмет, который он считает лишним. Остальные
            пытаются отгадать, какой предмет лишний, по мнению ведущего. Первый кто отгадывает, получает балл. Тот, кто
            набрал больше всего баллов, побеждает.</p>
    </div>
{% endblock %}